.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .modal.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  .modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    color: #000;
    width: 50vw;
    transform: scale(0.5);
    transition: 0.4s all;
    &.active {
      transform: scale(1);
    }
  }