@import "../../../assets/style/vars";

.footer {
  background: #5d8ab1;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 102px;
}

.footer__logo {
  margin-right: 72px;
}

.logo {
  width: 150px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  // flex-grow: 1;
}

.nav__list-item {
  margin-right: 35px;
}

.nav__list-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.footer-link {
  margin-right: 18px;
  &:last-child {
    margin-right: 0;
  }
}

.social-link-img {
  opacity: 0.4;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.6;
  }
}